* {
  padding: 0;
  margin: 0;
}
.main-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
.main-container .card {
  margin: 2vh 1vw;
  height: 20vh;
  width: 10vw;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .card .card-img img {
  width: 96px;
  height: 96px;
  cursor: pointer;
}
.main-container .card .card-name {
  width: 90%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
